/* Navigation */

.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top:0;
  z-index: 999;
}

.topbarWrapper {
  display: flex;
  height: 100%;
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #00bcd4;
  cursor: pointer;
}

.topRight {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.topbarIconsContainer {
  position: relative;
  margin-left: 1em;
}

.topIconBadge {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.avatar{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 1em;
}
